# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/vcs.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/workspace.xml
.idea/dataSources/8a43638c-c994-466a-aba9-8544432fab4f.xml
.idea/dataSources/8a43638c-c994-466a-aba9-8544432fab4f/storage_v2/_src_/schema/main.uQUzAA.meta
.idea/dataSources/fac2daec-1fef-4330-817a-64e86a2daef9.xml
.idea/sqldialects.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/5006b158-7d48-4ebc-af17-da4cbfdec281.xml
.idea/dataSources/63b89b01-a5cf-461e-ad25-1b3885992f02.xml
.idea/dataSources/63b89b01-a5cf-461e-ad25-1b3885992f02/storage_v2/_src_/schema/main.uQUzAA.meta
.idea/dataSources/d25da56d-4a74-489f-a718-bb45587085f0.xml
.idea/dataSources/d25da56d-4a74-489f-a718-bb45587085f0/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/d25da56d-4a74-489f-a718-bb45587085f0/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/d25da56d-4a74-489f-a718-bb45587085f0/storage_v2/_src_/schema/sys.zb4BAA.meta
.idea/dataSources/d25da56d-4a74-489f-a718-bb45587085f0/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
